@import "../_variables"; 
@import "../_mixins"; 

.categories-item {
  display: block;
  width: 346px;
  height: 288px;
  margin: 15px;
}

.categories-item_1 {
  background: url("../img/categories-photo1.jpg");
}

.categories-item_2 {
  position: relative;
  background: url("../img/categories-photo2.jpg");
  
  h3 a {
    position: relative;
    z-index: 3;
  }
}

.categories-item_2::after {
  content: '';
  @include absoluteLeftPositioning(100%, 100%, auto, 2 );
  bottom: 0;
  background: url("../img/categories-photo-philter.png");
}

.categories-item_3 {
  background: url("../img/categories-photo3.jpg");
}

.categories-item__info {
  color: $white;
  text-align: center;
  text-transform: none;
  font-size: 17px;
  font-family: $RobotoLight;
  margin: 0;
}

.categories-item_to-store {
  position: relative;
  z-index: 3;
  @include btn($border: 1px solid $white);
  padding: 13px;
  width: 92px;
  margin: 28px auto;
  display: block;  
}