@import "../_variables"; 
@import "../_mixins"; 

.footer {
  background-color: $yellow;
  padding: 0 17%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  position: relative;
  
  img {
    @include absoluteLeftPositioning(129px, 45px, 70px, 15px, 1);
  }  
}

.footer__menu {
  padding: 26px 0 0 120px;
}