@import "../_mixins";

.header {
  @include absoluteLeftPositioning(60%, 40px, 20%, 0, 100);
  margin: 32px auto 0;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  position: relative;
  top: 0;
  margin-left: 12px;

  img {
    @include absoluteLeftPositioning(166px, 57px, 0, auto, 2);
    bottom: 0;
  }
}