@import "../_variables"; 
@import "../_mixins"; 
@import "../global/fonts"; 

.popular-bikes {
  width: 100%;
  padding-bottom: 10px;
  
  h2 {
    padding-bottom: 35px;
  }
}

.popular-bikes__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

@media only screen and (max-width: 1560px) {
  .popular-bikes__list {
    justify-content: center;

  }
}