@import "../_variables"; 
@import "../_mixins"; 
@import "../global/fonts"; 

.slider-header {
  position: absolute;
  top: 380px;
  left: 50%;
  margin-left: -270px;
  z-index: 100;
  width: 540px;
  text-align: center;
  padding-top: 15px;
  
  h1 {
    color: $white;
    font-size: 50px;
    margin: 0 0 15px;
  }
}

.slider-header__slogan {
  font-size: 28px;
  font-family: RobotoThin;
  text-transform: none;
  margin: 0 0 45px;
}

.slider-header__slogan_gray {
  color: $gray;
}

.slider-header__slogan_yellow {
  color: $yellow;
}

.slider-header__btn {
  @include btn;
}