@import "../_variables"; 
@import "../_mixins"; 
@import "../global/fonts"; 
@import "../global/grid"; 

.sub-menu{
  display: none;
  position: absolute;
  top: 45px;
  left: 10px;
  width: 195px;
  margin: 0;
  padding: 0 15px 10px;
  border-radius: 10px;
  background-color: $yellow;
  border-top-left-radius: 0;
  
  li {
    padding-top: 15px;
  }
  
  a {
    color: $black;
    font-size: 15px;
  }
  
}

