@import "../_variables";
@import "../_mixins";

.sub-menu {
  display: none;
  @include absoluteLeftPositioning(195px, auto, 10px, 45px, auto);
  margin: 0;
  padding: 0 15px 10px;
  border-radius: 10px;
  background-color: $yellow;
  border-top-left-radius: 0;

  li {
    padding-top: 15px;
  }

  a {
    color: $black;
    font-size: 15px;
  }
}